@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400; 700; 900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: "Sriracha", cursive;
}
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--font2);
}
header>h1{
    padding-top: 50px;
    /*text-transform: uppercase;*/
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vh;
}
header>p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;

}
section{
    padding-bottom: 10vh;
    padding: 10vh;
    line-height: 2em;
    font-family: var(--font3);
    font-size: 4.5vh;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    
    padding: 5px;
    background-color: rgb(46, 41, 41);
    color: white;

}
section.imagem>p{
    display: inline-block;
    background-color: darkslategray;
}
footer{
    background-color: black;
    text-align: center;
    padding:50px;
    color:white;


}