@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header>h1{
    padding-top: 50px;
    /*text-transform: uppercase;*/
    font-variant: small-caps;
}
header>p{
    padding-bottom: 50px;
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header a:hover, footer a:hover{
    text-decoration: underline;

}
section{
    padding-bottom: 10vh;
    padding: 10vh;
    line-height: 2em;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(46, 41, 41);
    color: white;

}
section.imagem>p{
    width: 400px;
    background-color: darkslategray;
}
footer{
    background-color: black;
    text-align: center;
    padding:50px;
    color:white;


}